---
import SiteLayout from '../layouts/Minimalist.astro';
const title = 'Kryspin Ziemski - Resume';
const description = 'Resume for Kryspin Ziemski';
const pdfLink = 'resume.pdf';
const resume = '../data/resume.json';
---
<SiteLayout frontmatter={{title,description,pdfLink}}>
<Fragment slot="head">
  <meta charset="utf-8" />
  <title>KRYSPIN ZIEMSKI</title>
  <meta
    name="description"
    content="Complete Technologist (Infrastructure/Developer/Trading Systems) with a wide skillset and financial knowledge able to provide front to back solutions for financial firms. Possessing a “Self-starter” mentality with a proven track record in taking funds from startup to a fully operational phase."
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"
  />
  <style>
    :root {
      /* Colors */
      --primaryColor: #212529;
      --secondaryColor: #95a5a6;
      --accentColor: #f1c40f;
      --linkColor: #2ecc71;
      --mutedColor: #f4f6f6;

      /* Typography */
      --ratio: 1.25;
      --scale0: 1rem;
      --scale1: calc(var(--scale0) * var(--ratio));
      --scale2: calc(var(--scale1) * var(--ratio));
      --scale3: calc(var(--scale2) * var(--ratio));
      --scale4: calc(var(--scale3) * var(--ratio));
      --scale5: calc(var(--scale4) * var(--ratio));
    }

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    html {
      font-size: 14px;
    }

    .bodyDiv {
      color: var(--primaryColor);
      display: grid;
      font: 1em/1.5 Lato, sans-serif;
      gap: 2em;
      grid-template-columns:
        [full-start]
        1fr
        [main-start side-start]
        minmax(min-content, 12em)
        [side-end content-start]
        minmax(min-content, 36em)
        [main-end content-end]
        1fr
        [full-end];
      grid-template-rows: auto [content] 0;
      margin-bottom: 4em;
    }

    .bodyDiv::before {
      content: '';
      grid-column: full;
      grid-row: content;
    }

    ol,
    ul {
      padding-left: 1em;
    }

    li + li {
      margin-top: 0.2em;
    }

    li::marker {
      color: var(--mutedColor);
    }

    a {
      color: var(--linkColor);
      text-decoration: none;
      transition: color 0.2s;
    }

    a:focus,
    a:hover {
      color: var(--accentColor);
    }

    h1,
    h2,
    h3,
    h5 {
      font-weight: normal;
    }

    h1,
    h2,
    h3 {
      line-height: 1.2;
    }

    h1 {
      font-size: var(--scale5);
    }

    h2 {
      color: var(--secondaryColor);
      font-size: var(--scale4);
    }

    h3 {
      color: var(--accentColor);
      font-size: var(--scale3);
      grid-column: side;
      margin-bottom: 1rem;
    }

    h4 {
      font-size: var(--scale2);
    }

    h5 {
      font-size: var(--scale1);
    }

    h6 {
      font-size: var(--scale0);
    }

    blockquote {
      border-left: 0.2em solid var(--mutedColor);
      padding-left: 1em;
    }

    cite {
      color: var(--secondaryColor);
      font-style: inherit;
    }

    cite::before {
      content: '— ';
    }

    .masthead {
      background: var(--mutedColor);
      display: inherit;
      gap: inherit;
      grid-column: full;
      grid-template-columns: inherit;
      padding: 4em 0;
      row-gap: 0;
    }

    .masthead > *,
    section {
      grid-column: main;
    }

    article > * + *,
    blockquote > * + * {
      margin-top: 0.6em;
    }

    .stack {
      display: grid;
      gap: 1.5em;
    }

    .grid-list {
      display: grid;
      gap: 1em;
    }

    .spaced-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .spaced-list:first-child::before {
      border-bottom: 1px solid var(--mutedColor);
      content: '';
      flex-grow: 1;
      margin: 0 1em;
      order: 1;
    }

    .spaced-list > :nth-child(2) {
      order: 2;
    }

    .tag-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
    }

    .tag-list > li {
      background: var(--mutedColor);
      margin: 0 0.2em 0.2em 0;
      padding: 0.2em 0.6em;
    }

    @media print, (min-width: 48em) {
      h3 {
        text-align: right;
        margin-bottom: inherit;
      }

      .masthead > *,
      section {
        grid-column: content;
      }

      section {
        display: contents;
      }

      .grid-list {
        grid-template-columns: 1fr 1fr;
      }
    }
  </style>
</Fragment>
<div class="bodyDiv">
  <header class="masthead">
    <h1>KRYSPIN ZIEMSKI</h1>
  </header>
  <section id="contact">
    <h3>Contact</h3>
    <div class="grid-list">
      <div>
        <h4>Email</h4>
        <a href="mailto:kziemski@gmail.com">kziemski@gmail.com</a>
      </div>
      <div>
        <h4>Phone</h4>
        +1(646) 345-4567
      </div>
    </div>
  </section>
  <section id="about">
    <h3>About</h3>
    <article>
      <p>
        Complete Technologist (Infrastructure/Developer/Trading Systems) with a
        wide skillset and financial knowledge able to provide front to back
        solutions for financial firms. Possessing a “Self-starter” mentality
        with a proven track record in taking funds from startup to a fully
        operational phase.
      </p>
    </article>
  </section>

  <section id="work">
    <h3>Work</h3>
    <div class="stack">
      <article>
        <header>
          <div class="spaced-list">
            <h4>DYNAMO FUND</h4>
            <span>
              <time datetime="2020">Dec 2019</time> –
              <time datetime="Present">Present</time>
            </span>
          </div>
          <div class="spaced-list">
            <strong>CTO (Startup Hedge Fund: systematic macro)</strong>
          </div>
        </header>
        <h5>Highlights</h5>
        <ul>
          <li>
            Helped bootstrap fund during covid pandemic heavily utilizing cloud
            technologies and remote deployment of technologies (AWS Microsoft,
            Intel NUC, …)
          </li>
          <li>
            Built out trading connectivity via Bloomberg EMSX to over 20
            exchanges (Python, Bloomberg EMSX/Desktop API, ngrok, React, AWS, …)
          </li>
          <li>
            Monitor overnight trading and rebalancing for trading strategies
            (Python, Pandas, EMSX/Desktop API, …)
          </li>
          <li>
            Built/Run reconciliation of trades/cash in multi-currency portfolio
            (Python, Pandas, …)
          </li>
          <li>
            Built out risk reporting for internal and reporting purposes
            (Python, Pandas, …)
          </li>
          <li>Contributed to the marketing deck (Reveal.JS, React, …)</li>
        </ul>
      </article>
      <article>
        <header>
          <div class="spaced-list">
            <h4>QCOMPUTE LLC</h4>
            <span>
              <time datetime="2017">Dec 2016</time> –
              <time datetime="Present">Present</time>
            </span>
          </div>
          <div class="spaced-list">
            <strong
              >Owner (Notable Projects consulting for various Fintech/Capital
              Markets)</strong
            >
          </div>
        </header>
        <h5>Highlights</h5>
        <ul>
          <li>
            Built Consumer credit monitoring service focus on early detection as
            a React PWA (AWS React Stripe Node Serverless Python)
          </li>
          <li>
            Built Scalable Credit Reporting Data Validation/Enrichment Service
            (AWS React Stripe Docker Containers Serverless Node Python
            QuickSight)
          </li>
          <li>
            Built POC invoice financing platform for food services/fintech
            financing startup (AWS React Node Python Rekognition D3 Syncfusion
            Diagramming LoanPro)
          </li>
          <li>
            Evaluated, Architected Solutions for asset securitization of
            consumer loan portfolios (LoanPro, AWS, WebBank, Cross-River, ABS,
            SPV Financing)
          </li>
          <li>
            Evaluated, Implemented, Deployed Loan Management/Servicing into
            fintech startup’s infrastructure (LoanPro, AWS, Credit Scoring, GBM,
            Machine Learning)
          </li>
          <li>
            Built Consumer Loan Application Web Application for machine learning
            fintech startup (React, Node, AWS, Serverless, LoanPro, Plaid,
            Python, Keras)
          </li>
        </ul>
      </article>
      <article>
        <header>
          <div class="spaced-list">
            <h4>CADENCE GROUP</h4>
            <span>
              <time datetime="2018">Dec 2017</time> –
              <time datetime="2020">Dec 2019</time>
            </span>
          </div>
          <div class="spaced-list">
            <strong
              >CTO (Seed series startup: retail investor platform for asset
              securitization of financing/private credit)</strong
            >
          </div>
        </header>
        <h5>Highlights</h5>
        <ul>
          <li>
            Managed a Growing Technology team from none to engineering pods
            (JIRA Agile OKR)
          </li>
          <li>
            Took over POC and architected/rebuilt as Flagship Product for launch
            in 6 months (Python Heroku Django postgres React Node AWS Lambda
            Serverless Plaid Onfido)
          </li>
          <li>
            Built Cadence Debt Token (CDGXX): ERC20 Upgradable Contract
            mirroring compliant reg-D offering (Solidity, Ganache, web3js,
            ethers, Infura…)
          </li>
          <li>
            Contributed to several key business decisions and partnerships
            (Bloomberg Data, FIGI, Bloomberg Enterprise Solutions App Portal,
            Smart Contracts Web3)
          </li>
          <li>
            Successfully listed CDGXX tokens to the Bloomberg Universe as Prom.
            Notes M-Mkt key: A Crypto First (Bloomberg Enterprise, SPFS…)
          </li>
          <li>
            Built Cadence Private Credit Explorer on Bloomberg App Portal
            (Bloomberg Data, FIGI, React, AWS GraphQL AppSync)
          </li>
          <li>
            Part of Management Committee and contributed to hiring across the
            company
          </li>
          <li>
            Integral to operations and processing of cash and accounting for
            deals
          </li>
        </ul>
      </article>
      <article>
        <header>
          <div class="spaced-list">
            <h4>PARALLEL COMPUTATIONS</h4>
            <span>
              <time datetime="2008">Dec 2007</time> –
              <time datetime="2009">Dec 2008</time>
            </span>
          </div>
          <div class="spaced-list">
            <strong
              >Owner (Notable Projects consulting for various Hedge Funds/Prop
              Desks, Fintech)</strong
            >
          </div>
        </header>
        <h5>Highlights</h5>
        <ul>
          <li>
            Built Data Science environment to generate/analyze learning
            strategies on Macro-economic data (Pandas, Jupyter, Keras, web
            scraping, pipelining, workflow…)
          </li>
        </ul>
      </article>
      <article>
        <header>
          <div class="spaced-list">
            <h4>PARALLEL COMPUTATIONS</h4>
            <span>
              <time datetime="2011">Dec 2010</time> –
              <time datetime="2011">Dec 2010</time>
            </span>
          </div>
          <div class="spaced-list">
            <strong
              >Owner (Notable Projects consulting for various Hedge Funds/Prop
              Desks, Fintech)</strong
            >
          </div>
        </header>
        <h5>Highlights</h5>
        <ul>
          <li>
            Designed/Prototyped workflow for fintech in securitizing consumer
            debt (Nortridge, Investran, Bloomberg, C#, xml processing …)
          </li>
        </ul>
      </article>
      <article>
        <header>
          <div class="spaced-list">
            <h4>PARALLEL COMPUTATIONS</h4>
            <span>
              <time datetime="2012">Dec 2011</time> –
              <time datetime="2017">Dec 2016</time>
            </span>
          </div>
          <div class="spaced-list">
            <strong
              >Owner (Notable Projects consulting for various Hedge Funds/Prop
              Desks, Fintech)</strong
            >
          </div>
        </header>
        <h5>Highlights</h5>
        <ul>
          <li>
            Built Portfolio Back-Testing Engine for manager
            selection/on-boarding (Agent Design, Jupyter, Pandas, HDF5, Concepts
            from “Portable-Alpha”, Risk selection theory…)
          </li>
          <li>
            Build-out Infrastructure, Trading Floor, Risk, Accounting for
            MBS/Credit Hedge Fund (IPC, Avaya, HP, Advent Geneva, Quantifi,
            VMware…)
          </li>
          <li>
            Build-out Risk Monitoring, Trading, and Exchange Connectivity for
            LatAm Prop Trading Desk (C++, C#, FIX/FAST, WPF, ZeroMQ, ICE, low
            latency)
          </li>
          <li>
            Build-out/Integration for a Macro/MBS fund’s Portfolio, Accounting
            and Risk Reporting systems (SSRS, Geneva, Bloomberg AIM, Imagine
            IFP, C#…)
          </li>
          <li>
            Built Front office visualization tools for quantitative L/S Fund
            (time series analysis, Numerics, BBG Server API, TreeMap, “Spider”
            Node Graph, Tufte, “Tagging”, C#)
          </li>
          <li>
            Rebuilt a systematic trading strategy prototyped in Excel/VBA for a
            quantitative fund (Deltix, R, ExcelDNA, FIX, XLL, C#, NoSQL,
            MongoDB)
          </li>
          <li>
            Automating news/event-based strategies, real-time mirroring of human
            based trading with automated hedging (GS/Redi, FIX, .Net, Web
            scraping, Twitter)
          </li>
          <li>
            “On-Boarding Analysis” created tool to analyze incoming PM teams:
            return/factor analysis, Portfolio/Risk statistics. (C#, ASP.NET)
          </li>
          <li>
            Built Risk Analysis/Reporting platform for a Fixed Income Risk
            group. (Reporting Services, SharePoint, C#, Custom FI Pricing
            Library)
          </li>
          <li>
            Extended risk functionality in SunGard’s FrontArena© Portfolio
            Management system. (Python, C++, C#, ADFL, Sonic ESB)
          </li>
          <li>
            Created custom trading solution using TT© API for Trading Group.
            (C#)
          </li>
          <li>
            Integrated ITG’s soft dollar commissions functionality. (C#, MSSQL)
          </li>
          <li>
            Worked on several Tactical Projects using Calypso© Portfolio
            Management System and Paladyne© Security Master. (Java, C#, MSSQL)
          </li>
        </ul>
      </article>
      <article>
        <header>
          <div class="spaced-list">
            <h4>BELLPOINT CAPITAL</h4>
            <span>
              <time datetime="2011">Dec 2010</time> –
              <time datetime="2012">Dec 2011</time>
            </span>
          </div>
          <div class="spaced-list">
            <strong
              >CTO ($500m credit fund: corp. bonds, high yield, CDS, futures,
              ETFs, options, loans)</strong
            >
          </div>
        </header>
        <h5>Highlights</h5>
        <ul>
          <li>
            Created unified analysis/reporting framework servicing: trading, PM,
            Risk, and Investor Relations (.Net, MSSQL, SSAS, MDX, OLAP, SSRS)
          </li>
          <li>
            Completed integration to Bloomberg OTC FIX connectivity for Fixed
            Income/VCON trading/operations (.Net, QuickFIX)
          </li>
          <li>
            Completed integration with Omnium/Northern Trust Fund Administrator
            for daily reporting purposes (.Net, MSSQL, SSIS, SSRS)
          </li>
          <li>
            Created reporting on High Yield ETF constituent Analysis for the
            front office. (.Net, BBG, IIS, ASP.NET)
          </li>
          <li>
            Created Risk reports for portfolio analysis and Investor reporting
            (.Net, BBG API, SSRS, SSAS, MDX, Fixed Income Analytics …)
          </li>
          <li>
            Maintained reports for Advent Geneva. Developed WFM workflow for
            import into warehouse (.Net, RSL, SSIS, WFM …)
          </li>
          <li>
            Managed outsourced IT infrastructure with InfoHedge service
            provider.
          </li>
        </ul>
      </article>
      <article>
        <header>
          <div class="spaced-list">
            <h4>GALLE GLOBAL MACRO PARTNERS</h4>
            <span>
              <time datetime="2009">Dec 2008</time> –
              <time datetime="2011">Dec 2010</time>
            </span>
          </div>
          <div class="spaced-list">
            <strong
              >Head of Technology/Developer Lead ($450m macro fund: futures,
              options, FX, IRS, swaptions, CDS)</strong
            >
          </div>
        </header>
        <h5>Highlights</h5>
        <ul>
          <li>
            Instrumental in creation of fund (selection/build-out of office,
            Fund Admin. evaluation, Equipment leasing, Business Continuity Plan)
          </li>
          <li>
            Created ops workflow and technology plan according to “best
            practices”, completed 20+ successful Due diligence meetings
          </li>
          <li>
            Built/Maintained complete infrastructure: AD/File/Email/Databases,
            dual internet, Disaster/Backup, VOIP, VPN, Blackberry
          </li>
          <li>
            Built STP integration between Traiana for FX and MarkitSERV for
            Rates and Credit. (C#, C++, MSSQL, FPML)
          </li>
          <li>
            Main Architect and Developer for the Front Office. (Windows/Azure
            technology stack, Python, BBG Server API, DevExpress…)
          </li>
          <li>
            Extended SunGard’s FrontArena© Portfolio Management system. (Python,
            C++, ADFL)
          </li>
          <li>
            Created a Timeseries Database combining several data sources for
            rapid analysis in Excel and Matlab. (C#, XLL, MSSQL, OLAP)
          </li>
          <li>
            Wrote proprietary portfolio/risk analysis tools and trade loaders
            for the Front Office. (QuickFIX, Broker APIs, C#/WPF, Syncfusion)
          </li>
          <li>
            Developed replacements for legacy pricers written in Excel/VBA.
            (Numerix, CUDA, ISDA CDS, Quantlib, C++, C#, ExcelDNA)
          </li>
        </ul>
      </article>
      <article>
        <header>
          <div class="spaced-list">
            <h4>FORTRESS INVESTMENT GROUP, Drawbridge Global Macro</h4>
            <span>
              <time datetime="2006">Dec 2005</time> –
              <time datetime="2008">Dec 2007</time>
            </span>
          </div>
          <div class="spaced-list">
            <strong
              >Senior Systems Architect ($6bil multi-strat global fund:
              equities, options, futures, FX, corp. bonds, CDS, OTC, exotics)</strong
            >
          </div>
        </header>
        <h5>Highlights</h5>
        <ul>
          <li>
            Managed order flow and built automated processes for External
            Portfolio Business. (C#, Broker APIs, MSSQL, ASP.NET)
          </li>
          <li>
            Created a system for generating instructions for monthly/weekly
            rebalanced portfolios derived from signals by external managers
          </li>
          <li>
            System generated trades to apply both currency and index hedges to
            maximize alpha.
          </li>
          <li>
            Generated full risk attribution and performance reporting for the
            portfolio to present to the management committee.
          </li>
          <li>
            Responsible for Front Office integration working with incoming PM’s
            to develop replacement technology lost in transition to Fortress.
          </li>
          <li>
            Developed with many technologies. (C#, C++, Java, MSSQL, Broker
            APIs, FinCAD, Riskmetrics RML, Quantifi, HOLT, Infragistics…)
          </li>
          <li>
            Supported PM’s globally including onsite to help launch the Fortress
            Commodity Fund in London. (BBG, VBA, XLL, Matlab)
          </li>
        </ul>
      </article>
      <article>
        <header>
          <div class="spaced-list">
            <h4>LAUREL RIDGE ASSET MANAGEMENT</h4>
            <span>
              <time datetime="2002">Dec 2001</time> –
              <time datetime="2005">Dec 2004</time>
            </span>
          </div>
          <div class="spaced-list">
            <strong
              >Vice President, Technology ($500mil AUM, Relative Value fund:
              equities, options, futures, conv. bonds, OTC, loans)</strong
            >
          </div>
        </header>
        <h5>Highlights</h5>
        <ul>
          <li>
            Designed, developed and maintained complete trading/risk
            infrastructure and in-house applications. (C#, C++, ITO33, PGM,
            Multicast)
          </li>
          <li>
            Directly reported to the Partners of the fund managing architecture
            and decisions regarding technology.
          </li>
          <li>
            Implemented full STP between execution brokers, 2 prime brokers and
            Fund Administrator. (FIX, REDI, C#)
          </li>
          <li>
            Developed Security Master capturing listed and OTC reference data
            sourced from Bloomberg Data (BBG DAPI, MSSQL)
          </li>
          <li>
            Developed in-house Order Management System (BBG Gateway, C#, C1/
            Infragistics).
          </li>
          <li>
            Built/Maintained full Infrastructure:
            Directory/Email/File/Database/Blackberry including branch office for
            backup/disaster recovery.
          </li>
        </ul>
      </article>
      <article>
        <header>
          <div class="spaced-list">
            <h4>SOLILOQUY INC</h4>
            <span>
              <time datetime="1999">Dec 1998</time> –
              <time datetime="2001">Dec 2000</time>
            </span>
          </div>
          <div class="spaced-list">
            <strong
              >Software Engineer (Founding member of a Silicon Alley .com
              Startup)</strong
            >
          </div>
        </header>
        <h5>Highlights</h5>
        <ul>
          <li>
            Developed web-based automated sales agents utilizing AI/Natural
            Language Processing for client e-commerce websites
          </li>
          <li>
            “Chat-Bots” could simulate a conversational dialogue with customers
            about products they wished to purchase.
          </li>
          <li>
            Developed Prototype, Developed/Managed redesign to final product.
            (IIS/ASP, Linux Apache, C++, CORBA, PERL, Smalltalk)
          </li>
        </ul>
      </article>
    </div>
  </section>
  <section id="education">
    <h3>Education</h3>
    <div class="stack">
      <article>
        <header>
          <div class="spaced-list">
            <h4>SUNY, Stony Brook</h4>
            <span>
              <time datetime="1997">Dec 1996</time> –
              <time datetime="1999">Dec 1998</time>
            </span>
          </div>
          <div class="spaced-list">
            <strong>Applied Mathematics/Computer Science</strong>
          </div>
        </header>
      </article>
    </div>
  </section>
  <section id="skills">
    <h3>Skills</h3>
    <div class="grid-list">
      <div>
        <h4>Financial Protocols/Data</h4>
        <ul class="tag-list">
          <li>Bloomberg</li>
          <li>Reuters</li>
          <li>Markit</li>
          <li>FIX/FPML</li>
          <li>VCON FIX</li>
          <li>Riskmetrics</li>
          <li>SuperD</li>
          <li>ICAP</li>
          <li>JPM (DQ)</li>
        </ul>
      </div>
      <div>
        <h4>3rd Party Systems</h4>
        <ul class="tag-list">
          <li>Geneva</li>
          <li>Calypso</li>
          <li>FrontArena</li>
          <li>TT</li>
          <li>CS(AES)</li>
          <li>GS/Redi</li>
          <li>JPM</li>
          <li>BARX</li>
          <li>TradeWeb</li>
          <li>MarkitSERV</li>
          <li>FXAll</li>
          <li>Intex</li>
        </ul>
      </div>
      <div>
        <h4>Infrastructure/Databases</h4>
        <ul class="tag-list">
          <li>AD</li>
          <li>Exchange</li>
          <li>CRM</li>
          <li>VMware/Citrix</li>
          <li>Azure</li>
          <li>AWS</li>
          <li>GCP</li>
          <li>VOIP</li>
          <li>SQL</li>
          <li>SSAS</li>
          <li>SSRS</li>
          <li>KDB</li>
          <li>VPN</li>
          <li>Docker</li>
          <li>Hadoop</li>
          <li>HDFS</li>
          <li>Kubernetes</li>
        </ul>
      </div>
      <div>
        <h4>Programming/Messaging</h4>
        <ul class="tag-list">
          <li>.NET/F#/C#</li>
          <li>C++</li>
          <li>Java</li>
          <li>Python</li>
          <li>Scala</li>
          <li>Matlab</li>
          <li>R</li>
          <li>Excel</li>
          <li>OLAP</li>
          <li>CUDA</li>
          <li>Mobile</li>
          <li>Node</li>
          <li>React</li>
          <li>Reactive</li>
          <li>Serverless</li>
          <li>Solidity</li>
          <li>Rust</li>
        </ul>
      </div>
      <div>
        <h4>Product Knowledge/Analytics</h4>
        <ul class="tag-list">
          <li>FX</li>
          <li>FI/Credit</li>
          <li>OTC</li>
          <li>Structured/Derivatives valuation</li>
          <li>FinCAD</li>
          <li>Numerix</li>
          <li>ITO33</li>
          <li>CreditAnalytics</li>
        </ul>
      </div>
      <div>
        <h4>Data Science/Quant/AI/ML/Visualization</h4>
        <ul class="tag-list">
          <li>Spark</li>
          <li>Pandas</li>
          <li>Jupyter</li>
          <li>D3</li>
          <li>Graph</li>
          <li>Tensorflow</li>
          <li>Keras</li>
          <li>CNTK</li>
          <li>Caffe</li>
          <li>Quantlib</li>
          <li>MKL</li>
          <li>NLP</li>
          <li>NLTK</li>
        </ul>
      </div>
    </div>
  </section>
</div>
</SiteLayout>